.table-wrapper {
  display: flex;
  justify-content: space-around;

}
.main-body{
    height:50vh;
}
.heading{
    font-size: 2rem;
    font-family:  Verdana;
}
hr{
    width: 66%;
}
.add-user-btn{
    background-color:teal;
    color:white;
    font-family: Verdana;
}
